
:root {
	--light: #dfe1e8;
	--dark: #07090f;
	--yellow: #a37c40;
	--red: #f44174;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');


*{
	box-sizing: border-box; 
}

body {
	font-family: 'Roboto Mono', monospace;
	font-size: 12px;
	background-color: var(--dark);
	color: var(--light);
	
	height: 100vh;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 10;
	display: flex;
}

a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.content{
	z-index: 100;
	padding: 16px;
	display: flex;
	gap: 16px;
}

.main{
	width: min-content;
	margin: 16px 0 ;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: left;
	gap: 8px;
}

.link {
	min-height: 30px;
	width: min-content;
	min-width: 150px;
	justify-content: center;

	border: 2px dashed var(--yellow);
	height: min-content;
	padding: 8px;
	padding-left: 16px;
	transition: border 0.4s ease-in-out;
}

.link:hover {
	border: 2px dashed var(--red);
	cursor:pointer;
	
}
